/* 娓呴櫎鍐呭杈硅窛 */

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,

/* structural elements 缁撴瀯鍏冪礌 */

dl,
dt,
dd,
ul,
ol,
li,

/* list elements 鍒楄〃鍏冪礌 */

pre,

/* text formatting elements 鏂囨湰鏍煎紡鍏冪礌 */

fieldset,
lengend,
button,
input,
textarea,

/* form elements 琛ㄥ崟鍏冪礌 */

th,
td {
    /* table elements 琛ㄦ牸鍏冪礌 */
    margin: 0;
    padding: 0;
}


/* 璁剧疆榛樿瀛椾綋 */

body,
button,
input,
select,
textarea {
    /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "瀹嬩綋", sans-serif;*/
    font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
    /* 鐢� ascii 瀛楃琛ㄧず锛屼娇寰楀湪浠讳綍缂栫爜涓嬮兘鏃犻棶棰� */
}

h1 {
    font-size: 18px;
    /* 18px / 12px = 1.5 */
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

h4,
h5,
h6 {
    font-size: 100%;
}

address,
cite,
dfn,
em,
var {
    font-style: normal;
}


/* 灏嗘枩浣撴壎姝� */

code,
kbd,
pre,
samp,
tt {
    font-family: "Courier New", Courier, monospace;
}


/* 缁熶竴绛夊瀛椾綋 */

small {
    font-size: 12px;
}


/* 灏忎簬 12px 鐨勪腑鏂囧緢闅鹃槄璇伙紝璁� small 姝ｅ父鍖� */


/* 閲嶇疆鍒楄〃鍏冪礌 */

ul,
ol {
    list-style: none;
}


/* 閲嶇疆鏂囨湰鏍煎紡鍏冪礌 */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

abbr[title],
acronym[title] {
    /* 娉細1.ie6 涓嶆敮鎸� abbr; 2.杩欓噷鐢ㄤ簡灞炴€ч€夋嫨绗︼紝ie6 涓嬫棤鏁堟灉 */
    border-bottom: 1px dotted;
    cursor: help;
}

q:before,
q:after {
    content: '';
}


/* 閲嶇疆琛ㄥ崟鍏冪礌 */

legend {
    color: #000;
}


/* for ie6 */

fieldset,
img {
    border: none;
}


/* img 鎼溅锛氳閾炬帴閲岀殑 img 鏃犺竟妗� */


/* 娉細optgroup 鏃犳硶鎵舵 */

button,
input,
select,
textarea {
    font-size: 100%;
    /* 浣垮緱琛ㄥ崟鍏冪礌鍦� ie 涓嬭兘缁ф壙瀛椾綋澶у皬 */
}


/* 閲嶇疆琛ㄦ牸鍏冪礌 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* 閲嶇疆 hr */

hr {
    border: none;
    height: 1px;
}


/* 璁╅潪ie娴忚鍣ㄩ粯璁や篃鏄剧ず鍨傜洿婊氬姩鏉★紝闃叉鍥犳粴鍔ㄦ潯寮曡捣鐨勯棯鐑� */

html {
    overflow-y: scroll;
}

.warp {
    width: 380px;
    margin: 4% auto 0 auto;
}

.logo {
    width: 380px;
    height: 55px;
    background: url(https://kehu51.com/imges_new/1440.jpg) no-repeat;
    margin: 0 auto;
}

.loginbox {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(53, 41, 43, 0.5);
    border: 1px #bdbdbd solid;
    margin-top: 44px;
}

.cd-user-modal-container {
    position: relative;
    width: 382px;
    overflow: hidden;
}

.cd-user-modal-container .cd-switcher:after {
    content: "";
    display: table;
    clear: both;
}

.cd-user-modal-container .cd-switcher li {
    width: 50%;
    float: left;
    text-align: center;
    margin-top: 35px;
    font-family: Microsoft YaHei;
    font-size: 14px;
    cursor: pointer;
    padding-bottom: 15px;
}

.cd-user-modal-container .cd-switcher li:first-child a {
    text-decoration: none
}

.cd-user-modal-container .cd-switcher li:last-child a {
    text-decoration: none
}

.cd-user-modal-container .cd-switcher a {
    display: block;
    width: 100%;
    line-height: 20px;
    color: #bdbdbd;
}

.cd-user-modal-container .cd-switcher li :hover {
    color: #fff;
}

.cd-user-modal-container .cd-switcher li a:link#current,
.cd-user-modal-container .cd-switcher li a:visited#current {
    color: #ffffff;
}

.list {
    width: 318px;
    margin: 15px auto;
}

.listinp {
    width: 298px;
    height: 38px;
    padding: 0px 10px;
    border: 1px #999999 solid;
    font-size: 14px;
    color: #fff;
    background-color: rgba(31, 27, 24, 0.7);
}

.listinp::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #999;
}

.listinp:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #999;
}

.listinp:focus {
    border: 1px solid #fff;
    color: #ffffff;
}

input {
    outline: none;
}

.listbox {
    width: 320px;
    margin: 0 auto;
    font-family: Microsoft YaHei;
    border-top: 1px #bdbdbd solid;
    text-decoration: none;
}

.forget {
    float: right;
    font-size: 13px;
    color: #bdbdbd;
    margin-top: 15px;
    margin-right: 0px;
    width: 90px;
}

.remember {
    float: left;
    font-size: 13px;
    margin: 15px auto;
    color: #ffffff;
}

.rememberbox {
    margin-right: 5px;
}

.remember:hover,
.forget:hover {
    text-decoration: none;
}

.forget:hover {
    color: #FFFFFF;
}

.qqlogin {
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 11px;
    margin-left: -20px;
}

.qqlogin:hover {
    cursor: pointer;
}

.login {
    width: 320px;
    height: 40px;
    margin: 30px auto 20px auto;
}

.login .btn {
    border: 0;
    width: 320px;
    height: 40px;
    line-height: 30px;
    background: #078be4;
    color: #FFF;
    font-size: 14px;
    font-family: Microsoft YaHei;
}

.login .btn:hover {
    cursor: pointer;
    background: #27a8ff;
}

.register {
    width: 320px;
    height: 18px;
    color: #bdbdbd;
    font-family: Microsoft YaHei;
    padding-bottom: 15px;
    padding-top: 55px;
    text-align: center;
    margin: 0 auto;
}

.registerfree {
    font-size: 13px;
    margin: 10px auto;
    color: #ffffff;
    text-align: center;
}

.registerfree:hover {
    text-decoration: none;
}

.download {
    width: 282px;
    height: 22px;
    margin: 0 auto;
    margin-top: 24px
}

.iPhone {
    width: 140px;
    height: 22px;
    float: left;
}

.Android {
    width: 140px;
    height: 22px;
    float: right;
}

.line {
    width: 1px;
    height: 22px;
    background: #bdbdbd;
    float: left;
}

.iphoneicon,
.Androidicon {
    width: 22px;
    height: 22px;
    float: left;
    margin-left: 30px;
    margin-right: 10px;
}

.iPhone a,
.Android a {
    font-size: 13px;
    color: #bdbdbd;
    font-family: Microsoft YaHei;
    text-decoration: none;
    line-height: 22px
}

.iPhone a:hover,
.Android a:hover {
    color: #FFFFFF;
}

.progresstext {
    width: 400px;
    height: 60px;
    text-align: left;
    margin: 0 auto;
    margin-top: 90px;
}

.li-first {
    font-family: Microsoft YaHei;
    font-size: 12px;
    line-height: 20px;
    color: #bdbdbd;
}


/* 扫描登录开始 */


/*.codebox{ width:199px; height:199px; border:1px solid #bdbdbd; margin:0 auto; }*/

.codebox {
    width: 199px;
    height: 199px;
    border: 1px solid #bdbdbd;
    margin: 0 auto;
    text-align: center;
    padding: 3px 1px 1px 2px;
    background-color: #ffffff;
}

.biglist {
    padding-top: 20px;
}

.vericode {
    width: 180px;
    height: 38px;
    text-indent: 5px;
    border: 1px #bdbdbd solid;
    font-size: 12px;
    background-color: rgba(31, 27, 24, 0.7);
}

.vericode:focus {
    border-style: solid;
    border-color: #ffffff;
}

.error_tip {
    width: 310px;
    border: 1px #ff6f3d solid;
    font-size: 12px;
    margin: 0 auto -10px auto;
    color: #ff6f3d;
    font-family: 微软雅黑 Light;
    line-height: 16px;
    text-align: justify;
    padding: 3px;
}

.errorimg {
    width: 14px;
    height: 14px;
    float: left;
    margin: 3px;
}

.jawbone-hero .jawbone-hero-image {
    position: absolute;
    background: transparent none no-repeat scroll 50% 0;
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    z-index: -1
}

.jawbone-hero {
    height: 100%;
    min-height: 550px
}

.jawbone-hero .jawbone-hero-image {
    position: fixed
}

@media (min-width: 1367px) {
    #h1.jawbone-takeover-minimulti .jawbone-hero-image {
        background-image: url(https://kehu51.com/imges_new/1336.jpg)
    }
}

@media (min-width: 1441px) {
    #h1.jawbone-takeover-minimulti .jawbone-hero-image {
        background-image: url(https://kehu51.com/imges_new/1440.jpg)
    }
}

#errorHint {
    text-align: center;
    color: red;
    position: relative;
    /* background: #ffebeb; */
    color: #e4393c;
    font-size: 14px;
    /* border: 1px solid #faccc6; */
    padding: 3px 10px 3px 40px;
    line-height: 15px;
    height: auto;
}