{
    "presets": [
        ["react"],
        ["env", {
            "targets": {
                "chrome": "49",
                "ie": "11"
            }
        }]
    ],
    "plugins": [
        ["react-hot-loader/babel"],
        ["import", {
            "libraryName": "antd"
        }],
        ["transform-runtime"],
        ["transform-decorators-legacy"]
    ]
}