{
    "presets": ["react", "stage-0"],
    "plugins": [
        ["react-hot-loader/babel"],
        ["import", {
            "libraryName": "antd"
        }],
        ["transform-decorators-legacy"]
    ]
}