html,
body {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

body {
    font-family: 'tahoma, arial, "Microsoft YaHei", "Hiragino Sans GB", u5b8bu4f53, sans-serif';
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 2px;
}

::-webkit-scrollbar-track-piece {
    background-color: #ececec;
}

::-webkit-scrollbar-track-piece {
    background-color: hsla(0, 0%, 93%, .4);
}

.d-title {
    font-size: 12px;
    margin: 10px 0;
    font-weight: 700;
    color: #333;
    line-height: 1.4;
}