html body {
    font-family: 'tahoma, arial, "Microsoft YaHei", "Hiragino Sans GB", u5b8bu4f53, sans-serif';
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 2px;
}
::-webkit-scrollbar-track-piece {
    background-color: #ececec;
}

::-webkit-scrollbar-track-piece {
    background-color: hsla(0, 0%, 93%, .4);
}