@import '../../common/style/common.scss';
$canvasOffsetTop:90px;
.cd-main-area {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: visible;
    background: #F2F2F2;
    z-index: 1;
    .d-editor-instance-area {
        float: left;
        position: relative;
        width: 100%;
        height: 100%;
        z-index: -1;
        overflow-y: auto;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        transition: filter .5s ease-out;
        .cd-iframe-outer-warp {
            position: absolute;
            top: $canvasOffsetTop;
            left: calc(50vw - 187px);
            margin: 0 auto 40px;
            border-radius: 2px 2px 0 0;
            .cd-iframe-warp {
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
            }
            .cd-canvas-wrap {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                z-index: 2;
            }
        }
        iframe.cd-canvas {
            position: relative;
            width: 375px;
            min-height: 800px;
            background: #fff;
            border-radius: 0;
            border: none; // margin-bottom: calc( ( 100vh - 75px) / 2 - 100px);
        }
        .cd-hint {
            display: none;
            position: absolute;
            top: 570px;
            left: 50vw;
            width: 71px;
            height: 32px;
            margin-left: -280px;
            font-size: 12px;
            color: #999999;
            letter-spacing: -0.21px;
            padding: 10px;
            border-bottom: 1px solid #979797;
            text-align: right;
            z-index: -1;
        }
        .cd-loader-body {
            display: inline-block;
            line-height: 20px;
            position: absolute;
            margin-left: -86px;
            left: 50%;
            top: 50%;
            height: 20px;
            color: #666;
            font-size: 14px;
            padding: 12px 20px;
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            vertical-align: middle;
            background-color: #fff;
            &:after {
                content: "";
                display: inline-block;
                width: 0;
                height: 100%;
                vertical-align: middle;
            }
            span {
                margin-left: 5px;
                vertical-align: super;
            }
        }
    } // 提示网络异常
    &:empty {
        background: #fff;
        width: 100%;
        &::before {
            content: url(//img14.360buyimg.com/uba/jfs/t17044/345/1656345619/11115/4f84a94a/5ad40678Ne859ade0.png);
            position: absolute;
            top: 50%;
            width: 187px;
            height: 135px;
            margin-top: -72px;
            margin-left: -68px;
            left: 50%;
        }
        &::after {
            content: '网络异常，请清除页面缓存刷新重试！';
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -147px;
            margin-top: 75px;
            width: 350px;
            height: 53px;
            font-size: 20px;
            line-height: 26px;
            color: #C1C1C1;
            letter-spacing: 0;
            text-align: center;
            user-select: none;
            font-weight: bold;
        }
    }
    .d-preview-wrap {
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
        opacity: 0;
        background-color: rgba(0, 0, 0, .5);
        transition: opacity .5s ease-out;
        pointer-events: none;
        &.active {
            pointer-events: all;
            opacity: 1;
            &+.d-editor-instance-area {
                filter: blur(5px);
            }
        }
        .d-close-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: white;
            cursor: pointer;
        }
    }
    .d-canvas-filter {
        position: absolute;
        left: 300px;
        right: 100px;
        top: 0;
        bottom: 0;
        filter: blur(10);
        // background: #a9a9a9;
    }
    .d-phone {
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50px;
        bottom: 100px;
        width: 420px;
        display: block;
        background: #FFF;
        transform: translateX(-50%);
        box-sizing: content-box;
        border-top: 40px solid #FFF;
        border-left: 10px solid #FFF;
        border-right: 10px solid #FFF;
        border-bottom: 60px solid #FFF;
        border-radius: 20px;
        transform-origin: 100% 0;
    }
    .d-preview-container {
        position: absolute;
        box-sizing: content-box;
        width: 375px;
        height: 700px;
        border: 1px solid #ccc;
        top: 10px;
        left: 23px;
        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    }
}