// 装修
.d-module[data-module-type-id="6"] {
    display: flex;
    justify-content: center;
    align-items: center;
    .d-hint {
        font-size: 14px;
        color: #333;
    }
}

.d-fixed {
    position: fixed;
    z-index: 10;
    .d-img {
        width: 100%;
        img {
            width: 100%;
        }
    }
}