.d-module-list {
    width: 250px;
    border-right: solid 1px #e6e6e6;
    background: #fff;
    position: fixed;
    top: 60px;
    overflow-y: scroll;
    z-index: 10;
    bottom: 0;
    .d-module-name {
        overflow: hidden;
        border-top: 1px solid transparent;
        height: 40px;
        line-height: 39px;
        font-size: 12px;
        color: #666666;
        cursor: pointer;
        position: relative;
    }
    .d-module-item {
        justify-content: space-around;
        cursor: move;
        width: 50%;
        height: 112px;
        text-align: center;
        transition: all .2s ease;
        &:hover {
            background-color: #f4faff;
            .d-module-icon span {
                background-position: 0 0;
            }
        }
    }
    .d-module-icon {
        width: 100%;
        height: 53px;
        padding-top: 17px;
        text-align: center;
        span {
            display: inline-block;
            background-position: -36px 0;
            width: 36px;
            height: 36px;
        }
    }
    .d-sub-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 20px;
    }
}