@import '../../common/style/common.scss';
html {
    height: 100%;
    overflow: hidden;
}

#app {
    height: 100%;
}

.d-main {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    .d-create-page {
        margin: 10px;
    }
    .d-first-row {
        display: flex;
        flex-direction: row-reverse;
    }
    .d-left {
        width: 100%;
        flex: 1;
        overflow: auto;
        display: flex;
        flex-direction: column;
    }
    .d-right {
        position: relative;
        width: 450px;
        height: 100%;
        background-color: #F2F2F2;
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        -ms-flex-align: end;
        align-items: flex-end;
        color: #666;
    }
    .d-page-table {
        margin: 0px 10px 10px;
    }
    .d-preview-wrap {
        width: 375px;
        height: 100%;
        margin: 0 auto;
        background: white;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        .d-header {
            width: 100%;
            height: 20px;
            background: url(//naeditor-image.oss-cn-shenzhen.aliyuncs.com/DASDA.jpg);
        }
        iframe {
            width: 100%;
            height: calc(100% - 20px);
            border: none;
        }
        &:empty {
            &:after {
                content: '在左侧表格点击页面项以预览该页面效果';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 25px;
                color: #999;
            }
        }
    }
}

.d-popover-wrap {
    canvas {
        display: block;
        margin: 0 auto;
    }
    .d-copy-link {
        box-sizing: border-box;
        margin: 10px 0;
        max-width: 150px;
        border: 1px solid #e1e1e1;
        font-size: 12px;
        line-height: 14px;
        color: #000;
        padding: 7px 10px;
        min-height: 30px;
        border-radius: 2px;
        background-color: #fff;
        word-wrap: break-word;
    }
}

;