input[type="text"]::-webkit-input-placeholder {
    font-size: 12px;
}

.d-pic-lib {
    height: 35px;
    margin: 5px 0;
    .d-item {
        height: 100%;
        padding: 0 5px;
        &.d-position {
            position: relative;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            border: 1px solid rgb(217, 217, 217);
            transition: all .3s;
            &:hover {
                border-color: #40a9ff;
            }
            i {
                position: absolute;
                height: 17px;
                left: 50%;
                transform: translateX(-50%);
                color: rgba(0, 0, 0, 0.65);
                cursor: pointer;
                &:hover {
                    color: #3089DC;
                }
            }
            .d-icon-up {
                top: 3px;
            }
            .d-icon-down {
                bottom: 1px;
            }
        }
    }
}